---
- name: "restic_exporter | Include pre requisite tasks"
  ansible.builtin.import_tasks:
    file: "pre_requisite.yml"
- name: "restic_exporter | Include packages tasks"
  ansible.builtin.include_tasks:
    file: "packages.yml"
  when:
    - "lookup('ansible.builtin.vars', 'restic_exporter_settings', default='')
      not in ['', [], '[]', None]"
- name: "restic_exporter | Include deployment tasks"
  ansible.builtin.include_tasks:
    file: "deploy.yml"
  when:
    - "lookup('ansible.builtin.vars', 'restic_exporter_settings', default='')
      not in ['', [], '[]', None]"
