---
- name: "restic_exporter | Install the required packages in Redhat derivatives"
  when:
    - "hostvars[inventory_hostname]['ansible_os_family'] == 'RedHat'"
  block:
    - name: "restic_exporter | Update dnf cache"
      ansible.builtin.dnf:
        update_cache: "yes"
    - name: "restic_exporter | Install package with dnf"
      ansible.builtin.dnf:
        name: "{{ hostvars[inventory_hostname]['restic_exporter_package'] }}"
        state: "present"
- name: "restic_exporter | Install the required packages in Debian derivatives"
  when:
    - "hostvars[inventory_hostname]['ansible_os_family'] == 'Debian'"
  block:
    - name: "restic_exporter | Update apt cache"
      ansible.builtin.apt:
        update_cache: "yes"
    - name: "restic_exporter | Install package with apt"
      ansible.builtin.apt:
        name: "{{ hostvars[inventory_hostname]['restic_exporter_package'] }}"
        state: "present"
- name: "restic_exporter | Install the required packages in ArchLinux
    derivatives"
  when:
    - "hostvars[inventory_hostname]['ansible_os_family'] == 'Archlinux'"
  block:
    - name: "restic_exporter | Update pacman cache"
      community.general.pacman:
        update_cache: "yes"
    - name: "restic_exporter | Install package with pacman"
      community.general.pacman:
        name: "{{ hostvars[inventory_hostname]['restic_exporter_package'] }}"
        state: "present"
